---
export interface Props {
  label: string;
}

const { label } = Astro.props;
---

<div
  class="border-l-2 border-t-2 border-r-2 rounded-t-md border-sky-300 text-neutral-400 mt-4 ml-4 px-3 inline-block"
  style="background-color:#282a36; padding-bottom:1px; margin-bottom:-1px;"
>
  {label}
</div>
